{%- include "header.html" -%}
{%- with active=self._TemplateReference__context.name.split('.')[0] -%}
  {%- include "navbar.html" -%}
{% endwith %}
<body>
  <div class="container has-text-centered">
    <article>
      <div class="columns">
        <div class="column is-4">
          <figure class="image is-128x128">
            <img src="{{ url_for('static', filename='images/headshot.png') }}" class="is-rounded">
          </figure>
        </div>
        <div class="column is-8">
          <table class="about-table">
          <tr>
            <td>
              <span class="icon has-text-dark is-large">
                <i class="fa fa-2x fa-map-marker"></i>
              </span>
            </td>
            <td>
              New Albany, OH
            </td>
            <td style="align:right;">
              <a href="https://www.linkedin.com/in/robert-c-ehemann/">
                LinkedIn Profile
              </a>
            </td>
            <td style="align:right;">
              <span class="icon has-text-dark is-large">
                <i class="fa fa-2x fa-linkedin"></i>
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="icon has-text-dark is-large">
                <i class="fa fa-2x fa-phone"></i>
              </span>
            </td>
            <td>
              +1 931 588 1446
            </td>
            <td style="align:right;">
              <a href="https://github.com/rcehemann/">
                GitHub Page
              </a>
            </td>  
            <td style="align:right;">
              <span class="icon has-text-dark is-large">
                <i class="fa fa-2x fa-github"></i>
              </span>
            </td>          
          </tr>
          <tr>
            <td>
              <span class="icon has-text-dark is-large">
                <i class="fa fa-2x fa-at"></i>
              </span>
            </td>
            <td>
              <a href="mailto:rcehemann@gmail.com">
                rcehemann@gmail.com
              </a>
            </td>
            <td style="align:right;">
              <a href="https://www.instagram.com/blenderhead89/">
                Instagram
              </a>
            </td>
            <td style="align:right;">
              <span class="icon has-text-dark is-large">
                <i class="fa fa-2x fa-instagram"></i>
              </span>
            </td>
          </tr>
        </table>
      </div>
    </article>
  </div>
</body>
{%- include "footer.html" -%}
