{%- include "header.html" -%}
{%- with active=self._TemplateReference__context.name.split('.')[0] -%}
  {%- include "navbar.html" -%}
{% endwith %}
<body>
  <div class="container resume-items">

  	<h1> Experience </h1>
  	{% for item in experience %}
  	<div class="resume-item">
  		{{ item }}
  	</div>
  	{% endfor %}

  	<hr>
  	<h1> Education </h1>
  	{% for item in education %}
  	<div class="resume-item">
  		{{ item }}
  	</div>
  	{% endfor %}

  </div>
</body>
{%- include "footer.html" -%}
