<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
    		<img src="{{ url_for('static', filename='images/logo.png') }}">
    </div>
    <div class="navbar-burger"></div>
    <div class="navbar-start">
        {%- set page_names = {
            'about':'About',
            'experience':'Experience & \n Education',
            'publications':'Publications, Presentations & Honors',
        } -%}
        {%- for page, name in page_names.items() -%}
            {%- if active == page -%}
                <a class="navbar-item is-hoverable is-tab is-active"
                   href="{{ url_for('home', page=page) }}">
                    {{ name }}
                </a>
            {%- else -%}
                <a class="navbar-item is-hoverable is-tab"
                   href="{{ url_for('home', page=page) }}">
                    {{ name }}
                </a>        
            {%- endif -%}
        {%- endfor -%}
    </div>
    <div class="navbar-end">
    	<a class="navbar-item is-hoverable is-tab",
    	   href="{{ url_for('docs', doc='resume') }}">
    		Resume (PDF)
    	</a>
</nav>